<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.crossbow.play_core">
    <application>
        <meta-data
            android:name="com.crossbow.plugin.v1.CrossbowPlayCore"
            android:value="com.crossbow.play_core.CrossbowPlayCore"/>
    </application>
</manifest>
