<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rust.test123" android:versionCode="1" android:versionName="0.1.2">
  <application android:debuggable="false" android:hasCode="false" android:icon="@mipmap/ic_launcher" android:label="Bevy 2D" android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
    <activity android:configChanges="orientation|keyboardHidden|screenSize" android:label="Bevy 2D" android:name="android.app.NativeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="android.app.lib_name" android:value="test123" />
    </activity>
  </application>
  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="30" />
  <uses-feature android:required="true" android:glEsVersion="0x00030002" />
</manifest>
