[package]
name = "bevy-explorer"
version = "0.1.3"
authors = ["DodoRare Team <support@dodorare.com>"]
edition = "2021"

[dependencies]
crossbow = { version = "0.1.0", path = "../../" }
log = "0.4"
anyhow = "1.0"
subxt = "0.20"
tokio = { version = "1.17", features = ["sync", "macros", "rt-multi-thread"] }
bevy = { version = "0.7.0", features = ["mp3"] }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "full", "bit-vec"] }
jsonrpsee = { version = "0.9.0", features = ["async-client", "client-ws-transport"] }

[package.metadata]
app_name = "Bevy Explorer"
version_code = 1
target_sdk_version = 30
icon = "ic_launcher"

android_build_targets = ["aarch64-linux-android"]
android_assets = "assets"
android_res = "res/android"

apple_build_targets = ["aarch64-apple-ios", "x86_64-apple-ios"]
apple_assets = "assets"
apple_res = "res/apple"

[[package.metadata.android_permissions]]
name = "android.permission.INTERNET"

[[package.metadata.android_service]]
name = "UpdateService"