<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossbow.app"
    android:Version="1"
    android:versionName="0.1.0">
    <application
        android:hasCode="true"
        android:label="Crossbow App"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:name="com.crossbow.game.CrossbowApp"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="crossbow_android" />
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="30" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
