<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="rust.res" android:versionName="0.0.1">
  <application android:debuggable="true" android:hasCode="false" android:label="res" android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
    <activity android:configChanges="orientation|keyboardHidden|screenSize" android:label="res" android:name="android.app.NativeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="android.app.lib_name" android:value="res" />
    </activity>
  </application>
  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="30" />
  <uses-feature android:required="true" android:glEsVersion="0x00030002" />
</manifest>