<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.crossbow.admob">
    <application>
        <meta-data
            android:name="com.crossbow.plugin.v1.CrossbowAdMob"
            android:value="com.crossbow.admob.CrossbowAdMob"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>
</manifest>
